<nav class="navbar is-fixed-top is-dark is-bold">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item logo-text" href="../../../../">
        SCHOLAR IO
      </a>
      <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
    </div>
    <div id="navbarMenuHeroB" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item {{homeActive}}" href="../../../../">Home</a>
        <a class="navbar-item {{uploadActive}}" href="../../../scholar/new">Add New</a>
        <a class="navbar-item {{recordsActive}}" href="../../../records">Records</a>
      </div>
    </div>
  </div>
</nav>
