<body class="has-navbar-fixed-top">
{{> _navigation recordsActive="is-active"}}
<section class="hero is-small is-groovy">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title slim-book-read-streamline" style="font-size: 4rem; margin-bottom: 10px; margin-top: 10px"></h1>
      <h2 class="subtitle">
        Review Records
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column">
    <h1 class="title">Papers</h1>
    {{#each paper}}
      <p>
        {{articleTitle}}
      </p>
      {{edition}}
      <hr />
    {{/each}}
      </div>
      <div class="column">
    <h1 class="title">Books</h1>
    {{#each book}}
      <p>
        {{pubTitle}}
      </p>
      {{edition}}
      <hr />
    {{/each}}
      </div>
    </div>
  </div>
</section>
</body>

