<body class="has-navbar-fixed-top">
{{> _navigation recordsActive="is-active"}}
<section class="hero is-small is-groovy">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title slim-book-read-streamline" style="font-size: 4rem; margin-bottom: 10px; margin-top: 10px"></h1>
      <h2 class="subtitle">
        Review Records
      </h2>
    </div>
  </div>
</section>
<section class="container">

      <pre class="is-family-code" style="max-width: 40%">{{{paper}}}</pre>

      <pre class="is-family-code" style="max-width: 40%">{{{book}}}</pre>

</section>
</body>

