<body class="has-navbar-fixed-top">
{{> _navigation recordsActive="is-active"}}
<section class="hero is-small is-groovy">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Review Records
      </h1>
      <h2 class="subtitle">
        Solidify Knowledge
      </h2>
    </div>
  </div>
</section>
<section class="container">
  {{scholar}}
</section>
</body>
