<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='../../../../css/bulma.min.css' />
    <link rel="stylesheet" href="../../../../css/bulma-tooltip.min.css" />
    <link rel="stylesheet" href="../../../../css/icons.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet" />
    {{#if tags}}<link rel="stylesheet" href="../../../../css/bulma-tagsinput.min.css" />{{/if}}
    <style>
      body {
        font-family: 'Montserrat', sans-serif;
      }
      .logo-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.25rem;
        font-weight: 500}
      .is-groovy {
        background-image: linear-gradient(141deg, #49349a 0%, #6b20dc 71%, #8f32f5 100%);
      }
      .is-groovy .title,
      .is-groovy .subtitle {
        color: #fbf8f8
      }
      .tagsinput input {
        outline: 0;
      }
    </style>
  </head>
  {{{body}}}
{{#if tags}}
<script src="https://cdn.jsdelivr.net/npm/bulma-tagsinput@2/dist/js/bulma-tagsinput.min.js"></script>
<script>
  bulmaTagsinput.attach();
</script>
  {{/if}}
<script src="https://cdn.jsdelivr.net/npm/bulma-toast@1/dist/bulma-toast.min.js"></script>
</html>
