<main id="notfound-state" class="empty-state empty-state-fullpage bg-black">
  <div class="empty-state-container">
    <section class="card">
      <div class="card-body">
        <h1 class="state-header display-1 font-weight-bold">
          <span>4</span><i class="far fa-frown text-red"></i><span>4</span>
        </h1>
        <h2> Page not found! </h2>
        <p class="state-description lead"> Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. </p>
        <div class="state-action">
          <a href="../../../../../dashboard" class="btn btn-lg btn-light"><i class="fa fa-angle-right"></i> Go Home</a>
        </div>
      </div>
    </section>
  </div>
</main>
