<body class="has-navbar-fixed-top">
{{> _navigation homeActive="is-active"}}
<section class="hero is-groovy is-bold is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Welcome</h1>
      <p class="subtitle">Lets Archive</p>
    </div>
  </div>
</section>
</body>

